<h1>Save any kind of movies</h1>
<%= link_to 'Create a movie list', new_list_path, class:'btn btn-primary' %>

<% @lists.each do |list| %>
  <%= list %>
  <%= link_to list_path(list) do %>
    <div class="card">
      <%= list %>
    </div>
  <% end %>
<% end %>
