<h2>New book mark page</h2>

<%= simple_form_for @bookmark do |f| %>
  <%# <%= f.association :movie, prompt: "Select a movie", input_html: { class: "select2" } %> %>
  <%= f.input :name, placeholder: 'Enter a bookmark' %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
